body
{
    margin:0px;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins";
    color: #fff;
    /* height:100vh; */
    /* width:100vw; */
}

.collection{
    /* width:auto; */
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    display:flex;
    justify-content: center;
    align-items:center;
}

.collection .water{
    /* margin-left:4rem; */
    padding-bottom:45rem; 
    margin-top: .1rem;
    font-size:2.0rem;
    font-weight:500;
    /* margin:.0rem 0; */
    font-family:'Algerian';
    /* min-height:82%; */
    width:0px;
    /* display: flex;
    justify-content:space-around;
    align-items:start; */
    /* display:flex;
    justify-content:start;
    align-items:start;
    flex-direction:column; */
} 

.collection h1{
    margin-left:40px;
    /* padding-left:60px; */
}

.link{
    margin-bottom:45rem;
    font-size:1.8rem;
    font-weight:400;
    font-family:'Algerian';
    height:.10%;
    width:0px;
}

.collection a{
    margin-left:1500px;
    color:#0a0909;
}

.collection .content{
    height: 33rem;
    width: 25rem;
    padding-top: -50px;
    /* background-color: #1b1f2a; */
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    border:2rem solid rgba(255,255,255,.1);
    border-radius: 15px;
    border-bottom:.9rem solid #de3d62;
    border-top:.9rem solid #de3d62;
    border-top-left-radius:50px;
    border-bottom-right-radius:45px;
    overflow:hidden;
    /*padding:.3rem*/
}

.content img{
    width: 100%;
    height:23rem;
    border-bottom-left-radius: 10px;
    /* border-top-right-radius: 10px;
    border-top-left-radius:10px; */
    border-bottom-right-radius: 10px;
    
  
}
.text-content{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;

}
.text-content h3{
    font-size:3.7rem;
    font-weight:500;
    margin:.0rem 0;
    font-family:'Freestyle Script';

}

.text-content p{
    max-width:20rem;
    font-size:.1.9rem;
    font-weight:400;
    text-align:center;
    margin:4px 0;

}
.btn{
    background-color: #0099ff;
    color: #fff;
    padding:0rem;
    border: 10px solid #0099ff;
    outline:none;
    font-size:.8rem;
    border-radius:1rem;
    margin:0rem 0;
    cursor:pointer;
}